
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

.button{border:none;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
display:inline-block;
padding:12px 20px;
font-size: 18px;
vertical-align:middle;
overflow:hidden;
text-decoration:none;
color:inherit;
background-color:inherit;
text-align:center;
cursor:pointer;
white-space:nowrap}

h1{font-size: 40px;}

.button:hover{color:#000;background-color:#ccc}

.center{text-align:center}
.margin{margin-bottom:16px}



.black,.hover-black:hover{color:#fff;
background-color:#000;}


.third,.twothird{float:left;width:100%}


@media (min-width:601px){.col.m1{width:8.33333%}.col.m2{width:16.66666%}.col.m3,.quarter{width:24.99999%}.col.m4,.third{width:33.33333%}
.col.m5{width:41.66666%}.col.m6,.half{width:49.99999%}.col.m7{width:58.33333%}.col.m8,.twothird{width:66.66666%}
.col.m9,.col.m10{width:83.33333%}.col.m11{width:91.66666%}.col.m12{width:99.99999%}}


.content,.content{max-width:980px}





